<!-- 
<div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>
  <h1>{{ obj | json }}</h1>
</div>

<button pButton 
        (click)="mostrarNombre()"
        icon="pi pi-check"
        iconPos="right"
        class="p-button-help"
        type="button"
        label="Cambiar Nombre"></button>
<br>
<br>

<p-card 
  [header]="nombre | titlecase" 
  subheader="Este es el subheader" 
  [style]="{'width' : '25rem', 'border-radius' : '10px'}" >
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
</p-card> -->

<app-menu></app-menu>

<router-outlet></router-outlet>
